.center {
    text-align: center;
    margin: 0 auto;
}

.layout_row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rotate_wrapper{
    position: absolute;
    transform:rotate3d(0, 1, 0, 180deg);
    transition: all 1s ease;
    width: 100%;
    height: 100%;
    
}

.opacity_0 {
    z-index: -1;
    // display: none;
    opacity: 0;
}

.opacity_1 {
    position: absolute;
    z-index: 1;
    transform:rotate3d(0, 1, 0, 0deg);
    transition: all 1s ease;
    // display: block;
    opacity: 1;
}

.img_blur_10 {
    filter: blur(10px);
}

.img_filter_normal {
    filter: none;
}
