@import './main.less';
.login {
    position: relative;
    color: #fff;
}

form {
    margin: 30px 10px;
    position: relative;
    color: #fff;
    .input-item {
        width: 155px;
        position: relative;
        i {
            position: absolute;
            top: 5px;
            left: 5px;
            font-size: 14px;
        }
        input {
            width: 78%;
            border: 1px solid rgba(255, 255, 255, 0.7);
            background: rgba(255, 255, 255, 0.1);
            padding: 5px 5px 5px 25px;
            color: #fff;
        }
         ::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.7);
            ;
        }
         ::-moz-placeholder {
            color: rgba(255, 255, 255, 0.7);
            ;
        }
        /* firefox 19+ */
         :-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.7);
            ;
        }
        /* ie */
        input:-moz-placeholder {
            color: rgba(255, 255, 255, 0.7);
            ;
        }
         :focus {
            outline-color: #de6262
        }
    }
    .login-top-radius {
        margin-bottom: -1px;
        input {
            border-radius: 5px 5px 0 0;
        }
    }
    .login-bottom-radius {
        margin-top: -1px;
        input {
            border-radius: 0 0 5px 5px;
        }
    }
    .img-captcha {
        position: absolute;
        width: 99%;
        height: 25px;
        z-index: 0;
    }
    .input-captcha {
        position: absolute;
        z-index: 1;
        border-radius: 0 0 5px 5px;
    }

}

.no-captcha-layout {
    margin: 50px 10px;


}


.login-bottom-block {
    position: absolute;
    bottom: -113px;
    width: 100%;

    .btn {
        display: block;
        width: 92%;
        height: 30px;
        background: #de6262;
        border-radius: 5px;
        text-align: center;
        line-height: 30px;
        color: white;
        margin-top: 10px;
        &:hover {
            font-weight: bold;
            background: #ca4646
        }
    }
    .register {
        width: 92%;
        text-align: right;
        padding-right: 5px;
        padding-top: 5px;
        color: #de6262;
        line-height: 15px;
    }
}
