.volumeClickModule {
    display: flex;
    height: 10px;
    align-items: center;
}
.volumeClickModule{
    display: block;
    width: 100px;
    height: 2px;
    background-color: rgb(229, 229, 232)
}
.trumpet{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    padding: 0 15px;
}